@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto') format('TrueType');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
  * {
    @apply font-sans;
    @apply leading-7;
    font-family: ;
  }
}

#arrow {
    opacity: 0;
    cursor: pointer;
    animation:
      3s ease-in-out 0.5s 1 fadein, 
      1s ease-in-out 2s infinite bounce;
    animation-fill-mode: forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .6;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}