---
import Header from "../components/Header.astro";
import Subsection from "../layouts/Section.astro";
import Box from "../components/Box.astro";
import Tag from "../components/Tag.astro";
import Layout from "../layouts/Layout.astro";
import OverlapCards from "../components/OverlapCards.astro";
---

<Layout title="My Portfolio">
	<Header />
	<main>
		<Subsection addContainerStyles="min-h-screen" id="home">
			<div class="grid md:my-auto md:grid-cols-2 gap-x-12">
				<!-- Intro -->
				<div class="md:md:row-start-2">
					<div>
						<p class="text-center md:text-left">Hi, my name is</p>
					</div>
					<h1
						class="text-center text-5xl font-bold pt-1 pb-4 self-center leading-none md:text-6xl md:text-left md:my-4"
					>
						Ryan Suzuki Wong
					</h1>
					<p class="text-center md:text-left">
						Welcome to my Portfolio. Nice to meet you!
					</p>
				</div>

				<!-- Image -->
				<img
					src="Ryan_Portrait_Cropped.jpg"
					class="object-cover max-w-full max-h-64 mt-4 mx-auto md:mt-0 md:max-h-full md:row-span-5 md:col-start-2 md:mr-0"
					alt=""
				/>

				<!-- Description -->
				<p class="text-center mt-4 md:text-left">
					I am a software engineer based in San Francisco CA. UC Irvine graduate
					with B.S. in Computer Science
				</p>

				<!-- Tags -->
				<div
					class="mt-4 flex flex-col flex-wrap gap-2 justify-center items-center md:justify-start md:flex-row md:col-start-1"
				>
					<Tag text="Software Engineer" />
					<Tag text="Full Stack Developer" />
					<Tag text="UI / UX" />
				</div>
			</div>
		</Subsection>

		<Subsection title="My Expertise" id="expertise">
			<div class="grid grid-cols-1 md:grid-cols-3 gap-4">
				<Box
					iconPath="computer-code.svg"
					title="Software Development"
					text="Experienced in OOP and functional languages. (such as Python, \
					Javascript, Typescript, C++, Java)"
				/>
				<Box
					iconPath="computer-code.svg"
					title="SQL Database / Scripting"
					text="Passionate in SQL and NoSQL DB (such as document and graph DB) management \
					and scripting. (Postgres, MySQL, Mongo DB, Couch DB, Cassandra, Neo4J)"
				/>
				<Box
					iconPath="computer-code.svg"
					title="Mobile Development"
					text="Skilled in developing hybrid mobile apps with React Native / Expo (a \
					framework that transpiles JS/TS to native IOS and Android modules)"
				/>
			</div>
		</Subsection>

		<Subsection title="Experience" id="experience">
			<div class="flex flex-col gap-32">
				<OverlapCards
					title="Nutripair"
					imagePath="DSC_3180.JPG"
					tags={["React Native", "Postgres", "AWS"]}
					swapSides={true}
				>
					<p slot="description">
						Mobile App to help users with strict diets and allergies match with
						restaurants that can best accomodate to their needs.
					</p>
				</OverlapCards>

				<OverlapCards
					title="RBVI - UCSF"
					imagePath="DSC_3180.JPG"
					tags={["Python", "PyQT", "HTML / CSS"]}
				>
					<div slot="description">
						<b>Resource for Biocomputing and Visual Informatics (RBVI).</b>
						<a
							href="https://www.cgl.ucsf.edu/Overview/index.html"
							class="text-blue-800">(Link)</a
						>
						<p>
							Designed 3d molecular visualization tool with a team of developers
							for ChimeraX (software used by biochemists) by embedding
							dynamically generated charts/graphs with JavaScript and HTML into
							a PyQT widget. Developed parsers for molecular format files (SYBYL
							representation) using Python to translate into a 3D visual model
							of proteins.
						</p>
					</div>
				</OverlapCards>

				<OverlapCards
					title="Level 8 Construction"
					imagePath="DSC_3180.JPG"
					tags={["React Native", "MySQL"]}
					swapSides={true}
				>
					<p slot="description">
						(STILL UNDER CONSTRUCTION) Mobile App to help track worker
						timesheets efficient and hasle free.
					</p>
				</OverlapCards>
			</div>
		</Subsection>

		<Subsection title="Contact Me" id="contact" />
	</main>
</Layout>
