---
import { Icon } from 'astro-icon'

export interface Props {
  title: string;
  text: string;
  iconName: string;
}
const { title, text, iconName } = Astro.props;
---

<div class="border-2 border-black dark:border-white p-4">
  <div class="flex items-start gap-2 mb-4">
    <Icon name={iconName} class="w-8 dark:stroke-white" />
    <!-- <Icon name="material-symbols:database" class="w-8 dark:stroke-white" /> -->
    <h3 class="text-xl font-medium">{title}</h3>
  </div>
  <p>{text}</p>
</div>

