---
---

<header class="sticky top-0 bg-white z-10 w-full bg-gray-100">
  <nav class="relative container mx-auto p-3">
    <div class="flex items-center justify-between">

      <a href="#" class="flex items-center space-x-2">
         <img src="../../public/terminalIcon.svg" alt="Terminal Icon">
         <span class="text-xl leading-none">Ryan</span>
      </a>

      <div class="hidden md:flex space-x-6">
        <a href="#" class="hover:text-gray-400">&ltHome&gt</a>
        <a href="#expertise" class="hover:text-gray-400">&ltExpertise&gt</a>
        <a href="#experience" class="hover:text-gray-400">&ltExperience&gt</a>
        <!-- <a href="#" class="hover:text-gray-400">&ltHobbies&gt</a> -->
        <a href="#contact" class="hover:text-gray-400">&ltContact&gt</a>
      </div>

      
    </div>

  </nav>
</header>
