---
export interface Props {
  text: string;
  additionalStyles?: string;
}
const { text, additionalStyles = false } = Astro.props;
---

<div class=`${additionalStyles} w-fit bg-gray-300 px-4 py-1 rounded-full dark:bg-indigo-800`>
  <span class="whitespace-nowrap">{text}</span>
</div>
