---
export interface Props {
  title?: string;
  id: string;
  fullPage?: boolean;
  marginY?: string;
}
const { title, id, fullPage = false, marginY } = Astro.props;
---

<div
  id={id}
  class=`overflow-x-clip scroll-mt-32 px-12 max-w-screen-lg mx-auto ${fullPage ? "min-h-screen flex flex-col" : ""} ${marginY || "mb-32 md:mb-48"}`
>
  {title ? <h2 class="mb-16 text-5xl font-bold m-auto">{title}</h2> : null}
  <slot />
</div>
