---
export interface Props {
  title?: string;
  id: string
  addContainerStyles?: string
}
const { title, id, addContainerStyles } = Astro.props;
---

<div id={id} class=`${addContainerStyles} flex justify-center mt-16`>
  <div class="max-w-screen-lg flex flex-col items-center mb-40 mx-10">
    {
      title ? (
        <h2 class="mb-16 text-5xl font-semibold m-auto">{title}</h2>
      ) : null
    }
    <slot />
  </div>
</div>
